@mixin flex ($dir, $w, $jc, $ai: inherit) {
  display: flex;
  flex-direction: $dir;
  width: $w;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flash($bc, $c) {
  display: inline-block;
  padding: 5px;
  background-color: $bc;
  color: $c;
  margin: 5px 0;
}
